<nav class="bg-gray-800 p-4">
  <div class="container mx-auto flex items-center justify-center">
    <a routerLink="/list" class="text-white hover:text-gray-300 mr-4 cursor-pointer">List</a>
    <a routerLink="/register" class="text-white hover:text-gray-300 mr-4 cursor-pointer">Register</a>
    <a routerLink="/show" class="text-white hover:text-gray-300 mr-4 cursor-pointer">Show</a>
    <a routerLink="/update" class="text-white hover:text-gray-300 cursor-pointer">Update</a>
  </div>
</nav>

<app-list *ngIf="isHomePage()"></app-list>

<router-outlet></router-outlet>
